flows_beaglebone.json
[{"id":"1d526379.102f6d","type":"tab","label":"Main","disabled":false,"info":""},{"id":"697ae2d5.5c9f6c","type":"tab","label":"DataManager","disabled":false,"info":""},{"id":"2904663d.0fc0ca","type":"tab","label":"ServerPeripherals","disabled":false,"info":""},{"id":"a2ab6d24.a5e13","type":"tab","label":"ClientPeripherals","disabled":false,"info":""},{"id":"55975066.d3bfc","type":"tab","label":"Useful Nodes","disabled":false,"info":""},{"id":"34ec3854.3920d8","type":"websocket-listener","z":"","path":"/peripherals","wholemsg":"true"},{"id":"be4d9e9d.4c1cd8","type":"nodebot","z":"","name":"","username":"","password":"","boardType":"beaglebone-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"d2e9709a.c49ad8","type":"sqlitedb","z":"","db":"/home/debian/databases/db_server"},{"id":"85e6f76f.70a548","type":"sqlitedb","z":"","db":"/home/debian/databases/db_client"},{"id":"446fb40f.b4d0fc","type":"websocket in","z":"1d526379.102f6d","name":"Input /peripherals","server":"34ec3854.3920d8","client":"","x":150.23800659179688,"y":268.9523010253906,"wires":[["37527d55.61b642","6503440a.c7bb04"]]},{"id":"83bf19fa.787128","type":"websocket out","z":"1d526379.102f6d","name":"Output /peripherals","server":"34ec3854.3920d8","client":"","x":1410.761962890625,"y":570.523681640625,"wires":[]},{"id":"37527d55.61b642","type":"switch","z":"1d526379.102f6d","name":"Message router","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"getServerAllPeripheralsData","vt":"str"},{"t":"eq","v":"clientAllPeripheralsData","vt":"str"},{"t":"eq","v":"getServerPeripheralData","vt":"str"},{"t":"eq","v":"serverPeripheralCommand","vt":"str"},{"t":"eq","v":"serverAllPeripheralsDataReceived","vt":"str"},{"t":"eq","v":"serverPeripheralDataReceived","vt":"str"},{"t":"else"}],"checkall":"false","outputs":7,"x":356.0000305175781,"y":397.57140350341797,"wires":[["48284aa4.57d51c"],["48284aa4.57d51c"],["48284aa4.57d51c"],["fc5aad8.1a187d"],["879c5967.1437"],[],["37728e4e.e52aaa","1fdc9caf.4fa1c3"]]},{"id":"b3da6b31.56ed2","type":"link in","z":"1d526379.102f6d","name":"ServerPeripheralFound","links":["d3c30e6a.1848a8","ef495dc5.722738","1db5d10d.331b97"],"x":591.1788940429688,"y":343.0714111328125,"wires":[["7314c16c.72e33"]]},{"id":"471c36f7.fec3e","type":"catch","z":"1d526379.102f6d","name":"","scope":null,"x":130.85723876953125,"y":772.0000762939453,"wires":[["6b2ec9f1.e2dbb"]]},{"id":"6b2ec9f1.e2dbb","type":"debug","z":"1d526379.102f6d","name":"Main Error","active":true,"console":"false","complete":"true","x":354.42864990234375,"y":773.2858276367188,"wires":[]},{"id":"9fbfe8e9.e82178","type":"switch","z":"1d526379.102f6d","name":"whereAllPeripheralsChecked","property":"notDone.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"false","outputs":2,"x":992.4285888671875,"y":53.285606384277344,"wires":[["cde2e317.05b81"],["d562357.ab3c048"]]},{"id":"371ad348.d0676c","type":"function","z":"1d526379.102f6d","name":"markPeripheralAsDone","func":"let stagedPeripheral = msg.stagedPeripheral;\nmsg.done.push(stagedPeripheral);\ndelete msg.stagedPeripheral;\ndelete msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":775.96435546875,"y":157.8214111328125,"wires":[["9fbfe8e9.e82178"]]},{"id":"d562357.ab3c048","type":"function","z":"1d526379.102f6d","name":"stagePeripheral","func":"msg.stagedPeripheral = msg.notDone.splice(0, 1)[0];\nreturn msg;","outputs":1,"noerr":0,"x":1093.8929443359375,"y":201.00009155273438,"wires":[["9c9b57d5.1e2598"]]},{"id":"7314c16c.72e33","type":"function","z":"1d526379.102f6d","name":"savePayload","func":"let peripheralData = {\n \"name\": msg.stagedPeripheral.name,\n \"data\": msg.payload\n};\n\nmsg.data.push(peripheralData);\n\nreturn msg;","outputs":1,"noerr":0,"x":712.7499389648438,"y":344.1427307128906,"wires":[["371ad348.d0676c"]]},{"id":"cde2e317.05b81","type":"function","z":"1d526379.102f6d","name":"prepareDataToSend","func":"switch(msg.type){\n case \"getServerAllPeripheralsData\":\n msg.type = \"serverAllPeripheralsData\";\n break;\n case \"clientAllPeripheralsData\":\n msg.type = \"clientAllPeripheralsDataReceived\";\n break;\n case \"getServerPeripheralData\":\n msg.type = \"serverPeripheralData\";\n break;\n default:\n return;\n}\n\n\ndelete msg.notDone\ndelete msg.done;\ndelete msg.payload;\ndelete msg._event;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1363.2381591796875,"y":53.571311950683594,"wires":[["83bf19fa.787128","3ce98f6b.13b3b"]]},{"id":"fd4614f5.70d41","type":"link in","z":"1d526379.102f6d","name":"ServerPeripheralNotFound","links":["76b41f1.22198e","4958c150.00018"],"x":582.3931884765625,"y":257.8572082519531,"wires":[["371ad348.d0676c"]]},{"id":"9c9b57d5.1e2598","type":"switch","z":"1d526379.102f6d","name":"whatTypeOfAction","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"clientAllPeripheralsData","vt":"str"},{"t":"eq","v":"getServerAllPeripheralsData","vt":"str"},{"t":"eq","v":"saveServerPeripheralData","vt":"str"}],"checkall":"true","outputs":3,"x":1096.7860107421875,"y":325.5358581542969,"wires":[["ccb9b350.77abf"],["1da86517.6f5323"],["19232d01.b2805b"]],"outputLabels":["Client","Server",null]},{"id":"1da86517.6f5323","type":"link out","z":"1d526379.102f6d","name":"getServerPeripheralDataFromMemory","links":["43a9c48b.1314d4"],"x":1254.511962890625,"y":338.3572082519531,"wires":[]},{"id":"ccb9b350.77abf","type":"link out","z":"1d526379.102f6d","name":"saveClientPeripheralData","links":["c2dbb19f.638ed"],"x":1254.7027587890625,"y":271.90478515625,"wires":[]},{"id":"3c278cba.1d8684","type":"comment","z":"2904663d.0fc0ca","name":"light_sensor","info":"","x":597.3212890625,"y":50.83320617675781,"wires":[]},{"id":"48284aa4.57d51c","type":"change","z":"1d526379.102f6d","name":"preparePeripheralDataStructures","rules":[{"t":"set","p":"notDone","pt":"msg","to":"data","tot":"msg"},{"t":"set","p":"done","pt":"msg","to":"[]","tot":"jsonata"},{"t":"set","p":"data","pt":"msg","to":"[]","tot":"jsonata"},{"t":"set","p":"type","pt":"msg","to":"type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":689.9007568359375,"y":102.24193572998047,"wires":[["9fbfe8e9.e82178"]]},{"id":"9ec80d17.53b558","type":"change","z":"1d526379.102f6d","name":"getClientPeripherals","rules":[{"t":"set","p":"type","pt":"msg","to":"getClientAllPeripheralsData","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":987.75,"y":507.25006103515625,"wires":[["83bf19fa.787128","3ce98f6b.13b3b"]]},{"id":"c6d2cf9b.56b738","type":"link in","z":"1d526379.102f6d","name":"peripheralDone","links":["53a00212.28dafc","ab7d6f49.3877c","40f6a43d.e0a3b4"],"x":580.357177734375,"y":156.25,"wires":[["371ad348.d0676c"]]},{"id":"1d4682bb.be60f5","type":"johnny5","z":"2904663d.0fc0ca","name":"Light Level","func":"const light_sensor = new five.Light({pin: \"P9_40\"});\n\nlight_sensor.on(\"change\", function(levelObject) {\n node.send({payload: levelObject.level});\n});\n","board":"be4d9e9d.4c1cd8","noerr":0,"x":307.3212890625,"y":104.97611999511719,"wires":[["68f42621.e6f66"]]},{"id":"6681ace4.9bb1d4","type":"rbe","z":"2904663d.0fc0ca","name":"","func":"deadbandEq","gap":"11%","start":"","inout":"out","x":703.5711669921875,"y":131.6427764892578,"wires":[["b45dcb97.dd93b8"]]},{"id":"a9d03fc8.35083","type":"inject","z":"2904663d.0fc0ca","name":"","topic":"","payload":"0.80","payloadType":"num","repeat":"","crontab":"","once":true,"x":477.1070556640625,"y":160.17837524414062,"wires":[["6681ace4.9bb1d4"]]},{"id":"ff635bb2.6e8d","type":"function","z":"2904663d.0fc0ca","name":"registerLightSensor","func":"let addServerPeripheral = global.get(\"addServerPeripheral\");\n\naddServerPeripheral({\n name: \"light_sensor\",\n\tstate: \"on\"\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":667.6984252929688,"y":962.2617797851562,"wires":[["a91c700f.c9def8"]]},{"id":"71af70ba.ee432","type":"catch","z":"2904663d.0fc0ca","name":"","scope":null,"x":140.26980590820312,"y":1010.5475463867188,"wires":[["39d5dfa1.edf788"]]},{"id":"39d5dfa1.edf788","type":"debug","z":"2904663d.0fc0ca","name":"Server Peripherals Error","active":true,"console":"false","complete":"true","x":360.8412170410156,"y":1011.4046630859375,"wires":[]},{"id":"83b4d2cf.8ec0d","type":"catch","z":"a2ab6d24.a5e13","name":"","scope":null,"x":142.85714721679688,"y":870.0000610351562,"wires":[["79ee4d14.989764"]]},{"id":"79ee4d14.989764","type":"debug","z":"a2ab6d24.a5e13","name":"Client Peripherals Error","active":true,"console":"false","complete":"true","x":424.4285583496094,"y":873.2857894897461,"wires":[]},{"id":"5ccbad6b.38b644","type":"link in","z":"2904663d.0fc0ca","name":"createServerPeripheralsRegistry","links":["8d4b52bb.2b034"],"x":143.98406982421875,"y":961.6903076171875,"wires":[["ff635bb2.6e8d"]]},{"id":"9f712aad.4ac68","type":"inject","z":"1d526379.102f6d","name":"InitializePeripheralsRegistries","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":214.57147216796875,"y":668,"wires":[["ff8ec0cd.f0cdc"]]},{"id":"8d4b52bb.2b034","type":"link out","z":"1d526379.102f6d","name":"createPeripheralsRegistry","links":["497eeb1f.11214c","5ccbad6b.38b644"],"x":715.5714721679688,"y":673,"wires":[]},{"id":"879c5967.1437","type":"link out","z":"1d526379.102f6d","name":"getClientPeripheralsInput","links":["a5e3637f.42465"],"x":645,"y":455,"wires":[]},{"id":"a75cd02a.ef6308","type":"link in","z":"1d526379.102f6d","name":"getClientPeripheralsOutput","links":["ad4a1482.8ebdc"],"x":766.75,"y":463,"wires":[["9ec80d17.53b558"]]},{"id":"37728e4e.e52aaa","type":"debug","z":"1d526379.102f6d","name":"Message Not Found","active":false,"console":"false","complete":"true","x":406.25,"y":558.75,"wires":[]},{"id":"9ab9248d.febc68","type":"sqlite","z":"697ae2d5.5c9f6c","mydb":"d2e9709a.c49ad8","name":"","x":930.8887939453125,"y":199.4444122314453,"wires":[["284beeae.4fea12"]]},{"id":"8e7a39ab.f051b","type":"sqlite","z":"697ae2d5.5c9f6c","mydb":"85e6f76f.70a548","name":"","x":986.4444580078125,"y":667.22216796875,"wires":[["ab7d6f49.3877c"]]},{"id":"ad216af1.ceeec8","type":"function","z":"697ae2d5.5c9f6c","name":"createPeripheralTableDB","func":"const serverPeripherals = global.get(\"registries\").server;\nconst queries = [];\n\nserverPeripherals.forEach((peripheral) => {\n queries.push({topic: \"CREATE TABLE '\" + peripheral.name + \"_data' (dataPackage BLOB);\"}); \n});\n\n\nreturn queries;","outputs":1,"noerr":0,"x":477.77783203125,"y":182.88885498046875,"wires":[["9ab9248d.febc68"]]},{"id":"65d463b4.7876dc","type":"catch","z":"697ae2d5.5c9f6c","name":"","scope":["9ab9248d.febc68"],"x":840,"y":240,"wires":[["6978aa43.0d8864"]]},{"id":"177ae8f5.8cd817","type":"catch","z":"697ae2d5.5c9f6c","name":"","scope":["8e7a39ab.f051b"],"x":880,"y":620,"wires":[["9645decf.205c88"]]},{"id":"abc8965e.148938","type":"function","z":"697ae2d5.5c9f6c","name":"getAllPeripheralDataFromDB","func":"msg.topic = \"SELECT * FROM '\" + msg.peripheralName + \"_data';\";\nreturn msg;","outputs":1,"noerr":0,"x":481.55560302734375,"y":252.99996948242188,"wires":[["9ab9248d.febc68"]]},{"id":"5e4cc18d.b4bb98","type":"function","z":"697ae2d5.5c9f6c","name":"savePeripheralDataToDB","func":"const name = msg.stagedPeripheral.name;\nconst data = msg.stagedPeripheral.data;\nconst countToSave = Math.floor(data.length / 3);\nmsg.countToDelete = countToSave;\n\nconst dataToSave = data.splice(0, countToSave);\n\nif(dataToSave.length > 0) {\n msg.topic = \"INSERT INTO '\" + name + \"_data' (dataPackage) VALUES\" + \n \"('\" + JSON.stringify(dataToSave) + \"');\";\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":408.88897705078125,"y":122.66661071777344,"wires":[["21a5b11c.b12dfe"]]},{"id":"624183d6.595b0c","type":"link in","z":"697ae2d5.5c9f6c","name":"","links":[],"x":413.33331298828125,"y":854.8888549804688,"wires":[["409d4fb1.b1c858"]]},{"id":"409d4fb1.b1c858","type":"function","z":"697ae2d5.5c9f6c","name":"updateLastTimestamp","func":"const name = msg.stagedPeripheral.name;\nlet clientPeripherals = flow.get(\"registry\");\n\nclientPeripherals.forEach((clientPeripherals) => {\n if(clientPeripherals.name === name){\n clientPeripherals.lastTimestamp = Date.now();\n } \n});\n\nreturn msg;","outputs":1,"noerr":0,"x":645.3333129882812,"y":853.8888549804688,"wires":[[]]},{"id":"7700f99c.4ef8","type":"function","z":"697ae2d5.5c9f6c","name":"createPeripheralTableDB","func":"const clientPeripherals = global.get(\"registries\").client;\nconst queries = [];\n\nclientPeripherals.forEach((peripheral) => {\n queries.push({topic: \"CREATE TABLE '\" + peripheral.name + \"_data' (dataPackage BLOB);\"}); \n});\n\nreturn queries;","outputs":1,"noerr":0,"x":642.3333129882812,"y":598.8888549804688,"wires":[["8e7a39ab.f051b"]]},{"id":"50fd4e50.bfe7f8","type":"function","z":"697ae2d5.5c9f6c","name":"getAllPeripheralDataFromDB","func":"msg.topic = \"SELECT * FROM '\" + msg.peripheralName + \"_data';\";\nreturn msg;","outputs":1,"noerr":0,"x":668.3333129882812,"y":758.8888549804688,"wires":[["8e7a39ab.f051b"]]},{"id":"2a665d12.56e16a","type":"function","z":"697ae2d5.5c9f6c","name":"savePeripheralDataToDB","func":"msg.topic = \"INSERT INTO '\" + msg.peripheralName + \"_data' (dataPackage) VALUES ('\" + JSON.stringify(msg.data) + \"');\";\nreturn msg;","outputs":1,"noerr":0,"x":638.3333129882812,"y":677.8888549804688,"wires":[["8e7a39ab.f051b"]]},{"id":"c11cc05e.1d97a8","type":"comment","z":"697ae2d5.5c9f6c","name":"Server Data Management","info":"","x":841.3333740234375,"y":40.55554962158203,"wires":[]},{"id":"fb470e7.29dbb7","type":"comment","z":"697ae2d5.5c9f6c","name":"Client Data Management","info":"","x":970,"y":720,"wires":[]},{"id":"fdbff162.4af53","type":"link in","z":"697ae2d5.5c9f6c","name":"getClientPeripheralDataDB","links":[],"x":408.33331298828125,"y":764.8888549804688,"wires":[["50fd4e50.bfe7f8"]]},{"id":"7b47ceb8.88cf08","type":"link in","z":"697ae2d5.5c9f6c","name":"getAllPeripheralDataFromDB","links":["44b8c4f9.76b6bc"],"x":248.55560302734375,"y":243.99996948242188,"wires":[["abc8965e.148938"]]},{"id":"ed333b98.b67ba8","type":"link out","z":"697ae2d5.5c9f6c","name":"callbackGetAllPeripheralDataFromDB","links":["5d48414a.13ba58"],"x":1389.888916015625,"y":284.77772521972656,"wires":[]},{"id":"ab7d6f49.3877c","type":"link out","z":"697ae2d5.5c9f6c","name":"CallbackClientPeripheralData","links":["c6d2cf9b.56b738"],"x":1242.2220458984375,"y":668.7777709960938,"wires":[]},{"id":"ee12fc7a.7ce338","type":"link out","z":"2904663d.0fc0ca","name":"saveDataToMemory","links":["a5e6096.1d3d178"],"x":1146.4998779296875,"y":268.75,"wires":[]},{"id":"ba7ede5b.767998","type":"function","z":"697ae2d5.5c9f6c","name":"saveDataToMemory","func":"let getServerPeripheral = global.get(\"getServerPeripheral\");\n\nlet dataStore = getServerPeripheral(msg.peripheralName).data;\n\ndataStore.push(msg.data);\n\nreturn msg;","outputs":1,"noerr":0,"x":471.55560302734375,"y":328.9999694824219,"wires":[[]]},{"id":"a5e6096.1d3d178","type":"link in","z":"697ae2d5.5c9f6c","name":"saveDataToMemory","links":["ee12fc7a.7ce338"],"x":249.55560302734375,"y":327.9999694824219,"wires":[["ba7ede5b.767998"]]},{"id":"ff8ec0cd.f0cdc","type":"function","z":"1d526379.102f6d","name":"createPeripheralsRegistry","func":"global.set(\"registries\", {\n \"server\": [],\n \"client\": []\n});\n\nfunction getServerPeripheral(name) {\n return getPeripheral(name, \"server\");\n}\n\nfunction getClientPeripheral(name) {\n return getPeripheral(name, \"client\");\n}\n\nfunction getPeripheral(name, type) {\n let foundPeripheral;\n const registries = global.get(\"registries\");\n const registry = registries[type];\n \n for(let i = 0; i < registry.length; i++) {\n if(registry[i].name === name) {\n foundPeripheral = registry[i];\n }\n }\n return foundPeripheral;\n}\n\nfunction addServerPeripheral(peripheral) {\n addPeripheral(peripheral, \"server\");\n}\n\nfunction addClientPeripheral(peripheral) {\n addPeripheral(peripheral, \"client\");\n}\n\nfunction addPeripheral(peripheral, type) {\n peripheral.data = [];\n let existingPeripheral;\n const registries = global.get(\"registries\");\n switch(type) {\n case \"server\":\n existingPeripheral = getServerPeripheral(peripheral.name);\n break;\n case \"client\":\n existingPeripheral = getClientPeripheral(peripheral.name); \n break;\n default:\n node.warn(\"No such peripheral type: \" + type);\n }\n \n if(!existingPeripheral) {\n registries[type].push(peripheral);\n }\n else {\n throw new Error(\"A peripheral with such a name already exists: \" + peripheral.name);\n }\n}\n\nglobal.set(\"getServerPeripheral\", getServerPeripheral);\nglobal.set(\"getClientPeripheral\", getClientPeripheral);\nglobal.set(\"addServerPeripheral\", addServerPeripheral);\nglobal.set(\"addClientPeripheral\", addClientPeripheral);\n\nreturn msg;","outputs":1,"noerr":0,"x":522,"y":669,"wires":[["8d4b52bb.2b034"]]},{"id":"a91c700f.c9def8","type":"link out","z":"2904663d.0fc0ca","name":"createServerPeripheralTable","links":["2f4c9329.a4a574"],"x":1257.5556030273438,"y":956.333251953125,"wires":[]},{"id":"2f4c9329.a4a574","type":"link in","z":"697ae2d5.5c9f6c","name":"createServerPeripheralTableDB","links":["a91c700f.c9def8"],"x":258.9999694824219,"y":174.77774047851562,"wires":[["ad216af1.ceeec8"]]},{"id":"9fd12e6c.a6edd","type":"function","z":"697ae2d5.5c9f6c","name":"getDataFromMemory","func":"let getServerPeripheral = global.get(\"getServerPeripheral\");\n\nmsg.payload = getServerPeripheral(msg.stagedPeripheral.name).data;\nreturn msg;","outputs":1,"noerr":0,"x":469.55560302734375,"y":394.9999694824219,"wires":[["1db5d10d.331b97"]]},{"id":"1db5d10d.331b97","type":"link out","z":"697ae2d5.5c9f6c","name":"ServerPeripheralFound","links":["b3da6b31.56ed2"],"x":660.5556030273438,"y":391.9999694824219,"wires":[]},{"id":"43a9c48b.1314d4","type":"link in","z":"697ae2d5.5c9f6c","name":"getServerPeripheralDataFromMemory","links":["1da86517.6f5323"],"x":250.55560302734375,"y":398.9999694824219,"wires":[["9fd12e6c.a6edd"]]},{"id":"ad4a1482.8ebdc","type":"link out","z":"697ae2d5.5c9f6c","name":"getClientPeripheralsOutput","links":["a75cd02a.ef6308"],"x":805.8888549804688,"y":934.7777709960938,"wires":[]},{"id":"a5e3637f.42465","type":"link in","z":"697ae2d5.5c9f6c","name":"getClientPeripheralsData","links":["879c5967.1437"],"x":405.33331298828125,"y":931.8888549804688,"wires":[["3668f23f.f6d8f6"]]},{"id":"3668f23f.f6d8f6","type":"function","z":"697ae2d5.5c9f6c","name":"getClientPeripherals","func":"msg.data = global.get(\"registries\").client;\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":933.8888549804688,"wires":[["ad4a1482.8ebdc"]]},{"id":"4e064cff.3f968c","type":"link in","z":"2904663d.0fc0ca","name":"givePeripheralCommand","links":["6d891dbb.0d3e5c"],"x":54.777801513671875,"y":313.2221984863281,"wires":[["364f4424.7a97fc"]]},{"id":"364f4424.7a97fc","type":"switch","z":"2904663d.0fc0ca","name":"commandRouter","property":"peripheralName","propertyType":"msg","rules":[{"t":"eq","v":"light_sensor","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":207.77780151367188,"y":313.2221984863281,"wires":[["3b32a035.d46a"],["65717767.5f4e88","7055c31b.1af77c"]]},{"id":"65717767.5f4e88","type":"debug","z":"2904663d.0fc0ca","name":"No such peripheral","active":false,"console":"false","complete":"true","x":206.22222900390625,"y":373.8888244628906,"wires":[]},{"id":"3b32a035.d46a","type":"function","z":"2904663d.0fc0ca","name":"setOnOffState","func":"const getServerPeripheral = global.get(\"getServerPeripheral\");\nlet light_sensor = getServerPeripheral(\"light_sensor\");\nlight_sensor.state = msg.command;\n","outputs":1,"noerr":0,"x":499,"y":221,"wires":[["7055c31b.1af77c"]]},{"id":"b45dcb97.dd93b8","type":"function","z":"2904663d.0fc0ca","name":"prepareDataToBeSaved","func":"msg.data = {\n timestamp: Date.now(),\n data: msg.payload\n };\nmsg.peripheralName = \"light_sensor\"; \nreturn msg;","outputs":1,"noerr":0,"x":940,"y":130,"wires":[["ee12fc7a.7ce338"]]},{"id":"68f42621.e6f66","type":"function","z":"2904663d.0fc0ca","name":"onOffFilter","func":"const getServerPeripheral = global.get(\"getServerPeripheral\");\nlet light_sensor = getServerPeripheral(\"light_sensor\");\n\nif(light_sensor.state === \"on\") {\n return msg;\n}","outputs":1,"noerr":0,"x":496,"y":107,"wires":[["6681ace4.9bb1d4"]]},{"id":"6d891dbb.0d3e5c","type":"link out","z":"1d526379.102f6d","name":"givePeripheralCommand","links":["4e064cff.3f968c"],"x":748,"y":403,"wires":[]},{"id":"fc5aad8.1a187d","type":"function","z":"1d526379.102f6d","name":"prepareCommand","func":"msg.peripheralName = msg.data[0];\nmsg.command = msg.data[1];\nmsg.data = msg.data[2];\ndelete msg.type;\ndelete msg.data;\nreturn msg;","outputs":1,"noerr":0,"x":597,"y":400,"wires":[["6d891dbb.0d3e5c"]]},{"id":"c2dbb19f.638ed","type":"link in","z":"697ae2d5.5c9f6c","name":"saveClientPeripheralData","links":["ccb9b350.77abf"],"x":65,"y":674.0635986328125,"wires":[["c252582a.43ee8"]]},{"id":"44b8c4f9.76b6bc","type":"link out","z":"2904663d.0fc0ca","name":"getAllPeripheralDataFromDB","links":["7b47ceb8.88cf08"],"x":501.1113009982639,"y":689.9999254014757,"wires":[]},{"id":"327cd135.930666","type":"comment","z":"2904663d.0fc0ca","name":"getAllPeripheralDataFromDB","info":"Upper link: getAllPeripheralDataFromDB\nLower link: Where the callback returns","x":497.7777642144097,"y":727.7777031792534,"wires":[]},{"id":"5d48414a.13ba58","type":"link in","z":"2904663d.0fc0ca","name":"callbackGetAllPeripheralDataFromDB","links":["ed333b98.b67ba8"],"x":411.11109754774316,"y":776.6665920681423,"wires":[["61862338.e69f4c"]]},{"id":"61862338.e69f4c","type":"debug","z":"2904663d.0fc0ca","name":"callbackGetAllPeripheralDataFromDB","active":true,"console":"false","complete":"true","x":635.5555419921875,"y":775.5554809570312,"wires":[]},{"id":"1ff208b1.f6e447","type":"inject","z":"2904663d.0fc0ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131.1111789279514,"y":691.111070421007,"wires":[["64ae082a.5886c8"]]},{"id":"64ae082a.5886c8","type":"function","z":"2904663d.0fc0ca","name":"insertPeripheralName","func":"msg.peripheralName = \"light_sensor\";\nreturn msg;","outputs":1,"noerr":0,"x":335.5556369357639,"y":689.999986436632,"wires":[["44b8c4f9.76b6bc"]]},{"id":"add22f03.9909d","type":"inject","z":"1d526379.102f6d","name":"saveToDBInterval","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":152.22222900390625,"y":62.22222137451172,"wires":[["3e787771.4cddb8"]]},{"id":"3e787771.4cddb8","type":"function","z":"1d526379.102f6d","name":"getServerPeripherals","func":"msg.data = [].concat(global.get(\"registries\").server);\nmsg.type = \"saveServerPeripheralData\";\n\nreturn msg;","outputs":1,"noerr":0,"x":380.00006103515625,"y":66.66666412353516,"wires":[["c20a2dcb.3ff9"]]},{"id":"f35748f.49ccd38","type":"link in","z":"697ae2d5.5c9f6c","name":"saveServerPeripheralData","links":["19232d01.b2805b"],"x":239.55557250976562,"y":117.33331298828125,"wires":[["5e4cc18d.b4bb98"]]},{"id":"19232d01.b2805b","type":"link out","z":"1d526379.102f6d","name":"saveServerPeripheralData","links":["f35748f.49ccd38"],"x":1253.8887939453125,"y":391.94451904296875,"wires":[]},{"id":"c20a2dcb.3ff9","type":"change","z":"1d526379.102f6d","name":"prepareServerDataStructures","rules":[{"t":"set","p":"notDone","pt":"msg","to":"data","tot":"msg"},{"t":"set","p":"done","pt":"msg","to":"[]","tot":"jsonata"},{"t":"set","p":"type","pt":"msg","to":"type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":53.333335876464844,"wires":[["9fbfe8e9.e82178"]]},{"id":"284beeae.4fea12","type":"switch","z":"697ae2d5.5c9f6c","name":"saveServerPeripheralDataPerformed","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"saveServerPeripheralData","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1265.5556640625,"y":198.888916015625,"wires":[["44e89358.20db8c"],["ed333b98.b67ba8"]]},{"id":"40f6a43d.e0a3b4","type":"link out","z":"697ae2d5.5c9f6c","name":"peripheralDone","links":["c6d2cf9b.56b738"],"x":1535,"y":280,"wires":[]},{"id":"44e89358.20db8c","type":"function","z":"697ae2d5.5c9f6c","name":"deleteOldData","func":"const arrayLength = msg.stagedPeripheral.data.length;\nmsg.stagedPeripheral.data = msg.stagedPeripheral.data.splice(msg.countToDelete, arrayLength - msg.countToDelete);\nreturn msg;","outputs":1,"noerr":0,"x":1449.9998779296875,"y":126.6666259765625,"wires":[["40f6a43d.e0a3b4"]]},{"id":"21a5b11c.b12dfe","type":"switch","z":"697ae2d5.5c9f6c","name":"isDataToSave","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":626.2222290039062,"y":127.33332824707031,"wires":[["44e89358.20db8c"],["9ab9248d.febc68"]]},{"id":"7055c31b.1af77c","type":"link out","z":"2904663d.0fc0ca","name":"givePeripheralCommandResponse","links":[],"x":1110.5,"y":427.5,"wires":[]},{"id":"debc3804.70d0d8","type":"link in","z":"1d526379.102f6d","name":"givePeripheralCommandResponse","links":["7055c31b.1af77c"],"x":837.5,"y":402.5,"wires":[["3c3e6814.ba4b1"]]},{"id":"1fdc9caf.4fa1c3","type":"change","z":"1d526379.102f6d","name":"createIllegalMessageResponse","rules":[{"t":"set","p":"type","pt":"msg","to":"Error: Illegal message received","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":998.75,"y":580,"wires":[["83bf19fa.787128","3ce98f6b.13b3b"]]},{"id":"3c3e6814.ba4b1","type":"change","z":"1d526379.102f6d","name":"createCommandResponse","rules":[{"t":"set","p":"type","pt":"msg","to":"serverPeripheralCommandReceived","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1053.75,"y":415,"wires":[["83bf19fa.787128","3ce98f6b.13b3b"]]},{"id":"c252582a.43ee8","type":"function","z":"697ae2d5.5c9f6c","name":"doesPeripheralExist","func":"const getClientPeripheral = global.get(\"getClientPeripheral\");\nconst stagedPeripheralName = msg.stagedPeripheral.name;\nconst peripheral = getClientPeripheral(stagedPeripheralName);\n\nif(peripheral) {\n msg.peripheralName = stagedPeripheralName;\n msg.data = msg.stagedPeripheral.data;\n return msg;\n}\nelse {\n return msg; \n}","outputs":"2","noerr":0,"x":241.11111450195312,"y":670,"wires":[["2a665d12.56e16a"],["53a00212.28dafc"]]},{"id":"f3694f4d.ccf99","type":"link in","z":"697ae2d5.5c9f6c","name":"createClientPeripheralTableDB","links":["3ee153f1.3af32c"],"x":412.33331298828125,"y":591.8888549804688,"wires":[["7700f99c.4ef8"]]},{"id":"497eeb1f.11214c","type":"link in","z":"a2ab6d24.a5e13","name":"createClientPeripheralsRegistry","links":["8d4b52bb.2b034","461cde95.f6509"],"x":145.28573608398438,"y":722.5714111328125,"wires":[["878faa92.e5f"]]},{"id":"3ee153f1.3af32c","type":"link out","z":"a2ab6d24.a5e13","name":"createClientPeripheralTable","links":["f3694f4d.ccf99"],"x":1157,"y":728,"wires":[]},{"id":"878faa92.e5f","type":"function","z":"a2ab6d24.a5e13","name":"registerAccelerationSensor","func":"let addClientPeripheral = global.get(\"addClientPeripheral\");\n\naddClientPeripheral({\n name: \"Acceleration Sensor\"\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":631.571533203125,"y":725.0000610351562,"wires":[["3ee153f1.3af32c"]]},{"id":"53a00212.28dafc","type":"link out","z":"697ae2d5.5c9f6c","name":"ClientPeripheralDone","links":["c6d2cf9b.56b738"],"x":403.46063232421875,"y":706.666748046875,"wires":[]},{"id":"6503440a.c7bb04","type":"debug","z":"1d526379.102f6d","name":"INPUT","active":false,"console":"false","complete":"true","x":329,"y":268,"wires":[]},{"id":"3ce98f6b.13b3b","type":"debug","z":"1d526379.102f6d","name":"OUTPUT","active":false,"console":"false","complete":"true","x":1381,"y":537,"wires":[]},{"id":"6978aa43.0d8864","type":"switch","z":"697ae2d5.5c9f6c","name":"filterErrors","property":"message","propertyType":"msg","rules":[{"t":"eq","v":"SQLITE_CANTOPEN: unable to open database file","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":260,"wires":[["24b746e9.c04c32"],["80850221.0f144"]]},{"id":"80850221.0f144","type":"debug","z":"697ae2d5.5c9f6c","name":"otherwise","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1180,"y":460,"wires":[]},{"id":"24b746e9.c04c32","type":"exec","z":"697ae2d5.5c9f6c","command":"mkdir /home/debian/databases","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"createDatabasesFolder","x":1370,"y":340,"wires":[["e5a49212.da546"],[],[]]},{"id":"e5a49212.da546","type":"delay","z":"697ae2d5.5c9f6c","name":"waitForDatabasesToReconnect","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1530,"y":460,"wires":[["7700f99c.4ef8","ad216af1.ceeec8"]]},{"id":"9645decf.205c88","type":"switch","z":"697ae2d5.5c9f6c","name":"filterErrors","property":"message","propertyType":"msg","rules":[{"t":"eq","v":"SQLITE_CANTOPEN: unable to open database file","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":620,"wires":[[],["bc7eb902.728ae8"]]},{"id":"bc7eb902.728ae8","type":"debug","z":"697ae2d5.5c9f6c","name":"otherwise","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1280,"y":620,"wires":[]},{"id":"886cfcbe.90f98","type":"function","z":"55975066.d3bfc","name":"getDatabasePath","func":"const errorMessage = msg.error.message;\nconst firstSlashIndex = errorMessage.indexOf(\"/\");\nconst path = errorMessage.slice(firstSlashIndex);\nmsg.payload = path;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":60,"wires":[[]]}]