flows_beaglebone.json
[{"id":"732c831c.4f9c8c","type":"tab","label":"Main","disabled":false,"info":""},{"id":"d4d8260.4b924d8","type":"tab","label":"DataManager","disabled":false,"info":""},{"id":"c9d05436.9e2d3","type":"tab","label":"ServerPeripherals","disabled":false,"info":""},{"id":"41132096.9f4568","type":"tab","label":"ClientPeripherals","disabled":false,"info":""},{"id":"310c59b.f497526","type":"websocket-listener","z":"","path":"/peripherals","wholemsg":"true"},{"id":"1f65c1bc.20e0ee","type":"nodebot","z":"","name":"","username":"","password":"","boardType":"beaglebone-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"e52ec362.ee6c68","type":"sqlitedb","z":"","db":"/home/debian/databases/db_server"},{"id":"4f2722ba.5cd42c","type":"sqlitedb","z":"","db":"/home/debian/databases/db_client"},{"id":"6b54c48e.609f9c","type":"websocket in","z":"732c831c.4f9c8c","name":"Input /peripherals","server":"310c59b.f497526","client":"","x":150.23800659179688,"y":268.9523010253906,"wires":[["d48d4fe6.6dffb","a8e9536c.9e22f8"]]},{"id":"77e41550.ef0134","type":"websocket out","z":"732c831c.4f9c8c","name":"Output /peripherals","server":"310c59b.f497526","client":"","x":1410.761962890625,"y":570.523681640625,"wires":[]},{"id":"d48d4fe6.6dffb","type":"switch","z":"732c831c.4f9c8c","name":"Message router","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"getServerAllPeripheralsData","vt":"str"},{"t":"eq","v":"clientAllPeripheralsData","vt":"str"},{"t":"eq","v":"getServerPeripheralData","vt":"str"},{"t":"eq","v":"serverPeripheralCommand","vt":"str"},{"t":"eq","v":"serverAllPeripheralsDataReceived","vt":"str"},{"t":"eq","v":"serverPeripheralDataReceived","vt":"str"},{"t":"else"}],"checkall":"false","outputs":7,"x":356.0000305175781,"y":397.57140350341797,"wires":[["ab9bb32d.4896b"],["ab9bb32d.4896b"],["ab9bb32d.4896b"],["6b76936e.0c052c"],["3580a696.1b5ada"],[],["a9d205b5.664ef8","2e03e628.37b822"]]},{"id":"8d63763.2942d88","type":"link in","z":"732c831c.4f9c8c","name":"ServerPeripheralFound","links":["d3c30e6a.1848a8","ef495dc5.722738","36574f28.52dc9"],"x":591.1788940429688,"y":343.0714111328125,"wires":[["cd505b7c.be676"]]},{"id":"cefffed.5da77","type":"catch","z":"732c831c.4f9c8c","name":"","scope":null,"x":130.85723876953125,"y":772.0000762939453,"wires":[["7d38ea0d.d67e8c"]]},{"id":"7d38ea0d.d67e8c","type":"debug","z":"732c831c.4f9c8c","name":"Main Error","active":true,"console":"false","complete":"true","x":354.42864990234375,"y":773.2858276367188,"wires":[]},{"id":"a2f24a53.be6298","type":"switch","z":"732c831c.4f9c8c","name":"whereAllPeripheralsChecked","property":"notDone.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"false","outputs":2,"x":992.4285888671875,"y":53.285606384277344,"wires":[["410fd90d.40c89"],["1d8bbce5.8be553"]]},{"id":"a75e98c8.54bbb","type":"function","z":"732c831c.4f9c8c","name":"markPeripheralAsDone","func":"let stagedPeripheral = msg.stagedPeripheral;\nmsg.done.push(stagedPeripheral);\ndelete msg.stagedPeripheral;\ndelete msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":775.96435546875,"y":157.8214111328125,"wires":[["a2f24a53.be6298"]]},{"id":"1d8bbce5.8be553","type":"function","z":"732c831c.4f9c8c","name":"stagePeripheral","func":"msg.stagedPeripheral = msg.notDone.splice(0, 1)[0];\nreturn msg;","outputs":1,"noerr":0,"x":1093.8929443359375,"y":201.00009155273438,"wires":[["40f417af.006a18"]]},{"id":"cd505b7c.be676","type":"function","z":"732c831c.4f9c8c","name":"savePayload","func":"let peripheralData = {\n    \"name\": msg.stagedPeripheral.name,\n    \"data\": msg.payload\n};\n\nmsg.data.push(peripheralData);\n\nreturn msg;","outputs":1,"noerr":0,"x":712.7499389648438,"y":344.1427307128906,"wires":[["a75e98c8.54bbb"]]},{"id":"410fd90d.40c89","type":"function","z":"732c831c.4f9c8c","name":"prepareDataToSend","func":"switch(msg.type){\n    case \"getServerAllPeripheralsData\":\n        msg.type = \"serverAllPeripheralsData\";\n        break;\n    case \"clientAllPeripheralsData\":\n        msg.type = \"clientAllPeripheralsDataReceived\";\n        break;\n    case \"getServerPeripheralData\":\n        msg.type = \"serverPeripheralData\";\n        break;\n    default:\n        return;\n}\n\n\ndelete msg.notDone\ndelete msg.done;\ndelete msg.payload;\ndelete msg._event;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1363.2381591796875,"y":53.571311950683594,"wires":[["77e41550.ef0134","ef79382a.6ca218"]]},{"id":"df72e8e0.cc8fa","type":"link in","z":"732c831c.4f9c8c","name":"ServerPeripheralNotFound","links":["76b41f1.22198e","4958c150.00018"],"x":582.3931884765625,"y":257.8572082519531,"wires":[["a75e98c8.54bbb"]]},{"id":"40f417af.006a18","type":"switch","z":"732c831c.4f9c8c","name":"whatTypeOfAction","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"clientAllPeripheralsData","vt":"str"},{"t":"eq","v":"getServerAllPeripheralsData","vt":"str"},{"t":"eq","v":"saveServerPeripheralData","vt":"str"}],"checkall":"true","outputs":3,"x":1096.7860107421875,"y":325.5358581542969,"wires":[["64813500.2dec7c"],["6c07ebfb.3ae4bc"],["72583667.d52178"]],"outputLabels":["Client","Server",null]},{"id":"6c07ebfb.3ae4bc","type":"link out","z":"732c831c.4f9c8c","name":"getServerPeripheralDataFromMemory","links":["d37be47b.af73a8"],"x":1254.511962890625,"y":338.3572082519531,"wires":[]},{"id":"64813500.2dec7c","type":"link out","z":"732c831c.4f9c8c","name":"saveClientPeripheralData","links":["57667040.c813c8"],"x":1254.7027587890625,"y":271.90478515625,"wires":[]},{"id":"a808e61c.0f3ce8","type":"comment","z":"c9d05436.9e2d3","name":"light_sensor","info":"","x":597.3212890625,"y":50.83320617675781,"wires":[]},{"id":"ab9bb32d.4896b","type":"change","z":"732c831c.4f9c8c","name":"preparePeripheralDataStructures","rules":[{"t":"set","p":"notDone","pt":"msg","to":"data","tot":"msg"},{"t":"set","p":"done","pt":"msg","to":"[]","tot":"jsonata"},{"t":"set","p":"data","pt":"msg","to":"[]","tot":"jsonata"},{"t":"set","p":"type","pt":"msg","to":"type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":689.9007568359375,"y":102.24193572998047,"wires":[["a2f24a53.be6298"]]},{"id":"8253722a.fc461","type":"change","z":"732c831c.4f9c8c","name":"getClientPeripherals","rules":[{"t":"set","p":"type","pt":"msg","to":"getClientAllPeripheralsData","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":987.75,"y":507.25006103515625,"wires":[["77e41550.ef0134","ef79382a.6ca218"]]},{"id":"4ba293ab.2a1b7c","type":"link in","z":"732c831c.4f9c8c","name":"peripheralDone","links":["bbc6161d.f57178","f5499189.327498","798aaeb.615585"],"x":580.357177734375,"y":156.25,"wires":[["a75e98c8.54bbb"]]},{"id":"95a0067.f13e478","type":"johnny5","z":"c9d05436.9e2d3","name":"Light Level","func":"const light_sensor = new five.Light({pin: \"P9_40\"});\n\nlight_sensor.on(\"change\", function(levelObject) {\n    node.send({payload: levelObject.level});\n});\n","board":"1f65c1bc.20e0ee","noerr":0,"x":307.3212890625,"y":104.97611999511719,"wires":[["5da5dfaa.640d7"]]},{"id":"69fb8ead.0c489","type":"rbe","z":"c9d05436.9e2d3","name":"","func":"deadbandEq","gap":"11%","start":"","inout":"out","x":703.5711669921875,"y":131.6427764892578,"wires":[["8fcdeff9.08f718"]]},{"id":"5f3bff2a.1b698","type":"inject","z":"c9d05436.9e2d3","name":"","topic":"","payload":"0.80","payloadType":"num","repeat":"","crontab":"","once":true,"x":477.1070556640625,"y":160.17837524414062,"wires":[["69fb8ead.0c489"]]},{"id":"7af56a37.6bf024","type":"function","z":"c9d05436.9e2d3","name":"registerLightSensor","func":"let addServerPeripheral = global.get(\"addServerPeripheral\");\n\naddServerPeripheral({\n    name: \"light_sensor\",\n\tstate: \"on\"\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":667.6984252929688,"y":962.2617797851562,"wires":[["7cef1289.af11e4"]]},{"id":"b16038b0.54f49","type":"catch","z":"c9d05436.9e2d3","name":"","scope":null,"x":140.26980590820312,"y":1010.5475463867188,"wires":[["fcd409fa.919a7"]]},{"id":"fcd409fa.919a7","type":"debug","z":"c9d05436.9e2d3","name":"Server Peripherals Error","active":true,"console":"false","complete":"true","x":360.8412170410156,"y":1011.4046630859375,"wires":[]},{"id":"f4524618.eae188","type":"catch","z":"41132096.9f4568","name":"","scope":null,"x":142.85714721679688,"y":870.0000610351562,"wires":[["12dfe64c.8fc73a"]]},{"id":"12dfe64c.8fc73a","type":"debug","z":"41132096.9f4568","name":"Client Peripherals Error","active":true,"console":"false","complete":"true","x":424.4285583496094,"y":873.2857894897461,"wires":[]},{"id":"86ff75c7.e67fa","type":"link in","z":"c9d05436.9e2d3","name":"createServerPeripheralsRegistry","links":["283b14ed.304ea4"],"x":143.98406982421875,"y":961.6903076171875,"wires":[["7af56a37.6bf024"]]},{"id":"a94ef245.fae69","type":"inject","z":"732c831c.4f9c8c","name":"InitializePeripheralsRegistries","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":214.57147216796875,"y":668,"wires":[["b30cc1c8.f19f"]]},{"id":"283b14ed.304ea4","type":"link out","z":"732c831c.4f9c8c","name":"createPeripheralsRegistry","links":["5ff58b0.f732c74","86ff75c7.e67fa"],"x":715.5714721679688,"y":673,"wires":[]},{"id":"3580a696.1b5ada","type":"link out","z":"732c831c.4f9c8c","name":"getClientPeripheralsInput","links":["8f8d2b52.a8c78"],"x":645,"y":455,"wires":[]},{"id":"886597fb.a2bf68","type":"link in","z":"732c831c.4f9c8c","name":"getClientPeripheralsOutput","links":["9ba1c9c.e7792b8"],"x":766.75,"y":463,"wires":[["8253722a.fc461"]]},{"id":"a9d205b5.664ef8","type":"debug","z":"732c831c.4f9c8c","name":"Message Not Found","active":false,"console":"false","complete":"true","x":406.25,"y":558.75,"wires":[]},{"id":"6ed3d189.9ad0e8","type":"sqlite","z":"d4d8260.4b924d8","mydb":"e52ec362.ee6c68","name":"","x":930.8887939453125,"y":199.4444122314453,"wires":[["f20412bb.f99e7"]]},{"id":"46784bc6.279eb4","type":"sqlite","z":"d4d8260.4b924d8","mydb":"4f2722ba.5cd42c","name":"","x":986.4444580078125,"y":667.22216796875,"wires":[["f5499189.327498"]]},{"id":"f9f3022f.5d44d8","type":"function","z":"d4d8260.4b924d8","name":"createPeripheralTableDB","func":"const serverPeripherals = global.get(\"registries\").server;\nconst queries = [];\n\nserverPeripherals.forEach((peripheral) => {\n    queries.push({topic: \"CREATE TABLE '\" + peripheral.name + \"_data' (dataPackage BLOB);\"});    \n});\n\n\nreturn queries;","outputs":1,"noerr":0,"x":477.77783203125,"y":182.88885498046875,"wires":[["6ed3d189.9ad0e8"]]},{"id":"b78011ce.23f53","type":"catch","z":"d4d8260.4b924d8","name":"","scope":["6ed3d189.9ad0e8"],"x":820.3333740234375,"y":81.6666488647461,"wires":[["63d48efa.8c4158"]]},{"id":"965bd7e8.87244","type":"debug","z":"d4d8260.4b924d8","name":"ServerDatabaseError","active":true,"console":"false","complete":"true","x":1246.3333740234375,"y":81.6666488647461,"wires":[]},{"id":"577ea62c.b0eb6","type":"catch","z":"d4d8260.4b924d8","name":"","scope":["46784bc6.279eb4"],"x":902.6666259765625,"y":605.111083984375,"wires":[["7e757f07.682eb8"]]},{"id":"3291eb9a.1b0754","type":"debug","z":"d4d8260.4b924d8","name":"ClientDatabaseError","active":true,"console":"false","complete":"true","x":1278.6666259765625,"y":605.111083984375,"wires":[]},{"id":"8c409ac9.43863","type":"function","z":"d4d8260.4b924d8","name":"getAllPeripheralDataFromDB","func":"msg.topic = \"SELECT * FROM '\" + msg.peripheralName + \"_data';\";\nreturn msg;","outputs":1,"noerr":0,"x":481.55560302734375,"y":252.99996948242188,"wires":[["6ed3d189.9ad0e8"]]},{"id":"efee8ae3.c1a66","type":"function","z":"d4d8260.4b924d8","name":"savePeripheralDataToDB","func":"const name = msg.stagedPeripheral.name;\nconst data = msg.stagedPeripheral.data;\nconst countToSave = Math.floor(data.length / 3);\nmsg.countToDelete = countToSave;\n\nconst dataToSave = data.splice(0, countToSave);\n\nif(dataToSave.length > 0) {\n    msg.topic = \"INSERT INTO '\" + name + \"_data' (dataPackage) VALUES\" +  \n    \"('\" + JSON.stringify(dataToSave) + \"');\";\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":408.88897705078125,"y":122.66661071777344,"wires":[["659109d5.a89ad"]]},{"id":"d24ed919.049e8","type":"link in","z":"d4d8260.4b924d8","name":"","links":[],"x":413.33331298828125,"y":854.8888549804688,"wires":[["c3f8023d.a5051"]]},{"id":"c3f8023d.a5051","type":"function","z":"d4d8260.4b924d8","name":"updateLastTimestamp","func":"const name = msg.stagedPeripheral.name;\nlet clientPeripherals = flow.get(\"registry\");\n\nclientPeripherals.forEach((clientPeripherals) => {\n    if(clientPeripherals.name === name){\n        clientPeripherals.lastTimestamp = Date.now();\n    }    \n});\n\nreturn msg;","outputs":1,"noerr":0,"x":645.3333129882812,"y":853.8888549804688,"wires":[[]]},{"id":"cd8cc702.0d2ca","type":"function","z":"d4d8260.4b924d8","name":"createPeripheralTableDB","func":"const clientPeripherals = global.get(\"registries\").client;\nconst queries = [];\n\nclientPeripherals.forEach((peripheral) => {\n    queries.push({topic: \"CREATE TABLE '\" + peripheral.name + \"_data' (dataPackage BLOB);\"});    \n});\n\nreturn queries;","outputs":1,"noerr":0,"x":642.3333129882812,"y":598.8888549804688,"wires":[["46784bc6.279eb4"]]},{"id":"b1fffba0.d60d9","type":"function","z":"d4d8260.4b924d8","name":"getAllPeripheralDataFromDB","func":"msg.topic = \"SELECT * FROM '\" + msg.peripheralName + \"_data';\";\nreturn msg;","outputs":1,"noerr":0,"x":668.3333129882812,"y":758.8888549804688,"wires":[["46784bc6.279eb4"]]},{"id":"5fd5064d.73349","type":"function","z":"d4d8260.4b924d8","name":"savePeripheralDataToDB","func":"msg.topic = \"INSERT INTO '\" + msg.peripheralName + \"_data' (dataPackage) VALUES ('\" + JSON.stringify(msg.data) + \"');\";\nreturn msg;","outputs":1,"noerr":0,"x":638.3333129882812,"y":677.8888549804688,"wires":[["46784bc6.279eb4"]]},{"id":"42e81bb3.293dfc","type":"comment","z":"d4d8260.4b924d8","name":"Server Data Management","info":"","x":841.3333740234375,"y":40.55554962158203,"wires":[]},{"id":"f03e6f39.ca163","type":"comment","z":"d4d8260.4b924d8","name":"Client Data Management","info":"","x":884.3333129882812,"y":554.8888549804688,"wires":[]},{"id":"b7de54ee.f88348","type":"link in","z":"d4d8260.4b924d8","name":"getClientPeripheralDataDB","links":[],"x":408.33331298828125,"y":764.8888549804688,"wires":[["b1fffba0.d60d9"]]},{"id":"46d4aa.2d339358","type":"link in","z":"d4d8260.4b924d8","name":"getAllPeripheralDataFromDB","links":["ecf059e9.72c4f8"],"x":248.55560302734375,"y":243.99996948242188,"wires":[["8c409ac9.43863"]]},{"id":"646afcc7.fdad54","type":"link out","z":"d4d8260.4b924d8","name":"callbackGetAllPeripheralDataFromDB","links":["24f91839.6b4888"],"x":1389.888916015625,"y":284.77772521972656,"wires":[]},{"id":"f5499189.327498","type":"link out","z":"d4d8260.4b924d8","name":"CallbackClientPeripheralData","links":["4ba293ab.2a1b7c"],"x":1242.2220458984375,"y":668.7777709960938,"wires":[]},{"id":"5aed7b32.3278f4","type":"link out","z":"c9d05436.9e2d3","name":"saveDataToMemory","links":["e0452ed1.c169d8"],"x":1146.4998779296875,"y":268.75,"wires":[]},{"id":"2fb3fe9c.353422","type":"function","z":"d4d8260.4b924d8","name":"saveDataToMemory","func":"let getServerPeripheral = global.get(\"getServerPeripheral\");\n\nlet dataStore = getServerPeripheral(msg.peripheralName).data;\n\ndataStore.push(msg.data);\n\nreturn msg;","outputs":1,"noerr":0,"x":471.55560302734375,"y":328.9999694824219,"wires":[[]]},{"id":"e0452ed1.c169d8","type":"link in","z":"d4d8260.4b924d8","name":"saveDataToMemory","links":["5aed7b32.3278f4"],"x":249.55560302734375,"y":327.9999694824219,"wires":[["2fb3fe9c.353422"]]},{"id":"b30cc1c8.f19f","type":"function","z":"732c831c.4f9c8c","name":"createPeripheralsRegistry","func":"global.set(\"registries\", {\n    \"server\": [],\n    \"client\": []\n});\n\nfunction getServerPeripheral(name) {\n    return getPeripheral(name, \"server\");\n}\n\nfunction getClientPeripheral(name) {\n   return getPeripheral(name, \"client\");\n}\n\nfunction getPeripheral(name, type) {\n    let foundPeripheral;\n    const registries = global.get(\"registries\");\n    const registry = registries[type];\n    \n    for(let i = 0; i < registry.length; i++) {\n        if(registry[i].name === name) {\n            foundPeripheral = registry[i];\n        }\n    }\n    return foundPeripheral;\n}\n\nfunction addServerPeripheral(peripheral) {\n    addPeripheral(peripheral, \"server\");\n}\n\nfunction addClientPeripheral(peripheral) {\n    addPeripheral(peripheral, \"client\");\n}\n\nfunction addPeripheral(peripheral, type) {\n    peripheral.data = [];\n    let existingPeripheral;\n    const registries = global.get(\"registries\");\n    switch(type) {\n        case \"server\":\n            existingPeripheral = getServerPeripheral(peripheral.name);\n            break;\n        case \"client\":\n            existingPeripheral = getClientPeripheral(peripheral.name); \n            break;\n        default:\n            node.warn(\"No such peripheral type: \" + type);\n    }\n    \n    if(!existingPeripheral) {\n        registries[type].push(peripheral);\n    }\n    else {\n        throw new Error(\"A peripheral with such a name already exists: \" + peripheral.name);\n    }\n}\n\nglobal.set(\"getServerPeripheral\", getServerPeripheral);\nglobal.set(\"getClientPeripheral\", getClientPeripheral);\nglobal.set(\"addServerPeripheral\", addServerPeripheral);\nglobal.set(\"addClientPeripheral\", addClientPeripheral);\n\nreturn msg;","outputs":1,"noerr":0,"x":522,"y":669,"wires":[["283b14ed.304ea4"]]},{"id":"7cef1289.af11e4","type":"link out","z":"c9d05436.9e2d3","name":"createServerPeripheralTable","links":["eadccb97.866088"],"x":1257.5556030273438,"y":956.333251953125,"wires":[]},{"id":"eadccb97.866088","type":"link in","z":"d4d8260.4b924d8","name":"createServerPeripheralTableDB","links":["7cef1289.af11e4"],"x":258.9999694824219,"y":174.77774047851562,"wires":[["f9f3022f.5d44d8"]]},{"id":"4b66dd89.87b11c","type":"function","z":"d4d8260.4b924d8","name":"getDataFromMemory","func":"let getServerPeripheral = global.get(\"getServerPeripheral\");\n\nmsg.payload = getServerPeripheral(msg.stagedPeripheral.name).data;\nreturn msg;","outputs":1,"noerr":0,"x":469.55560302734375,"y":394.9999694824219,"wires":[["36574f28.52dc9"]]},{"id":"36574f28.52dc9","type":"link out","z":"d4d8260.4b924d8","name":"ServerPeripheralFound","links":["8d63763.2942d88"],"x":660.5556030273438,"y":391.9999694824219,"wires":[]},{"id":"d37be47b.af73a8","type":"link in","z":"d4d8260.4b924d8","name":"getServerPeripheralDataFromMemory","links":["6c07ebfb.3ae4bc"],"x":250.55560302734375,"y":398.9999694824219,"wires":[["4b66dd89.87b11c"]]},{"id":"9ba1c9c.e7792b8","type":"link out","z":"d4d8260.4b924d8","name":"getClientPeripheralsOutput","links":["886597fb.a2bf68"],"x":805.8888549804688,"y":934.7777709960938,"wires":[]},{"id":"8f8d2b52.a8c78","type":"link in","z":"d4d8260.4b924d8","name":"getClientPeripheralsData","links":["3580a696.1b5ada"],"x":405.33331298828125,"y":931.8888549804688,"wires":[["338a976f.277858"]]},{"id":"338a976f.277858","type":"function","z":"d4d8260.4b924d8","name":"getClientPeripherals","func":"msg.data = global.get(\"registries\").client;\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":933.8888549804688,"wires":[["9ba1c9c.e7792b8"]]},{"id":"dfc45da8.f5378","type":"link in","z":"c9d05436.9e2d3","name":"givePeripheralCommand","links":["23226613.2e5292"],"x":54.777801513671875,"y":313.2221984863281,"wires":[["749dc6aa.1f6778"]]},{"id":"749dc6aa.1f6778","type":"switch","z":"c9d05436.9e2d3","name":"commandRouter","property":"peripheralName","propertyType":"msg","rules":[{"t":"eq","v":"light_sensor","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":207.77780151367188,"y":313.2221984863281,"wires":[["e566b90e.38ad8"],["91b49dd1.1f92e8","eee06295.3c6768"]]},{"id":"91b49dd1.1f92e8","type":"debug","z":"c9d05436.9e2d3","name":"No such peripheral","active":false,"console":"false","complete":"true","x":206.22222900390625,"y":373.8888244628906,"wires":[]},{"id":"e566b90e.38ad8","type":"function","z":"c9d05436.9e2d3","name":"setOnOffState","func":"const getServerPeripheral = global.get(\"getServerPeripheral\");\nlet light_sensor = getServerPeripheral(\"light_sensor\");\nlight_sensor.state = msg.command;\n","outputs":1,"noerr":0,"x":499,"y":221,"wires":[["eee06295.3c6768"]]},{"id":"63d48efa.8c4158","type":"function","z":"d4d8260.4b924d8","name":"filterErrors","func":"if(msg.error.message.endsWith(\"already exists\")) {\n    \n}\nelse {\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":1024.3333740234375,"y":81.6666488647461,"wires":[["965bd7e8.87244"]]},{"id":"7e757f07.682eb8","type":"function","z":"d4d8260.4b924d8","name":"filterErrors","func":"if(msg.error.message.endsWith(\"already exists\")) {\n    \n}\nelse {\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":1062.6666259765625,"y":605.111083984375,"wires":[["3291eb9a.1b0754"]]},{"id":"8fcdeff9.08f718","type":"function","z":"c9d05436.9e2d3","name":"prepareDataToBeSaved","func":"msg.data = {\n        timestamp: Date.now(),\n        data: msg.payload\n    };\nmsg.peripheralName = \"light_sensor\";  \nreturn msg;","outputs":1,"noerr":0,"x":940,"y":130,"wires":[["5aed7b32.3278f4"]]},{"id":"5da5dfaa.640d7","type":"function","z":"c9d05436.9e2d3","name":"onOffFilter","func":"const getServerPeripheral = global.get(\"getServerPeripheral\");\nlet light_sensor = getServerPeripheral(\"light_sensor\");\n\nif(light_sensor.state === \"on\") {\n    return msg;\n}","outputs":1,"noerr":0,"x":496,"y":107,"wires":[["69fb8ead.0c489"]]},{"id":"23226613.2e5292","type":"link out","z":"732c831c.4f9c8c","name":"givePeripheralCommand","links":["dfc45da8.f5378"],"x":748,"y":403,"wires":[]},{"id":"6b76936e.0c052c","type":"function","z":"732c831c.4f9c8c","name":"prepareCommand","func":"msg.peripheralName = msg.data[0];\nmsg.command = msg.data[1];\nmsg.data = msg.data[2];\ndelete msg.type;\ndelete msg.data;\nreturn msg;","outputs":1,"noerr":0,"x":597,"y":400,"wires":[["23226613.2e5292"]]},{"id":"57667040.c813c8","type":"link in","z":"d4d8260.4b924d8","name":"saveClientPeripheralData","links":["64813500.2dec7c"],"x":65,"y":674.0635986328125,"wires":[["f0ad8b11.68c6d"]]},{"id":"ecf059e9.72c4f8","type":"link out","z":"c9d05436.9e2d3","name":"getAllPeripheralDataFromDB","links":["46d4aa.2d339358"],"x":501.1113009982639,"y":689.9999254014757,"wires":[]},{"id":"bd9b251f.23428","type":"comment","z":"c9d05436.9e2d3","name":"getAllPeripheralDataFromDB","info":"Upper link: getAllPeripheralDataFromDB\nLower link: Where the callback returns","x":497.7777642144097,"y":727.7777031792534,"wires":[]},{"id":"24f91839.6b4888","type":"link in","z":"c9d05436.9e2d3","name":"callbackGetAllPeripheralDataFromDB","links":["646afcc7.fdad54"],"x":411.11109754774316,"y":776.6665920681423,"wires":[["b2c5d4d4.99df3"]]},{"id":"b2c5d4d4.99df3","type":"debug","z":"c9d05436.9e2d3","name":"callbackGetAllPeripheralDataFromDB","active":true,"console":"false","complete":"true","x":635.5555419921875,"y":775.5554809570312,"wires":[]},{"id":"5207c212.38a304","type":"inject","z":"c9d05436.9e2d3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131.1111789279514,"y":691.111070421007,"wires":[["af004878.33f798"]]},{"id":"af004878.33f798","type":"function","z":"c9d05436.9e2d3","name":"insertPeripheralName","func":"msg.peripheralName = \"light_sensor\";\nreturn msg;","outputs":1,"noerr":0,"x":335.5556369357639,"y":689.999986436632,"wires":[["ecf059e9.72c4f8"]]},{"id":"c3ec8bc0.9c1648","type":"inject","z":"732c831c.4f9c8c","name":"saveToDBInterval","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":152.22222900390625,"y":62.22222137451172,"wires":[["a383a3bc.fc68"]]},{"id":"a383a3bc.fc68","type":"function","z":"732c831c.4f9c8c","name":"getServerPeripherals","func":"msg.data = [].concat(global.get(\"registries\").server);\nmsg.type = \"saveServerPeripheralData\";\n\nreturn msg;","outputs":1,"noerr":0,"x":380.00006103515625,"y":66.66666412353516,"wires":[["cadf751c.b7728"]]},{"id":"cf33cd42.fadb8","type":"link in","z":"d4d8260.4b924d8","name":"saveServerPeripheralData","links":["72583667.d52178"],"x":239.55557250976562,"y":117.33331298828125,"wires":[["efee8ae3.c1a66"]]},{"id":"72583667.d52178","type":"link out","z":"732c831c.4f9c8c","name":"saveServerPeripheralData","links":["cf33cd42.fadb8"],"x":1253.8887939453125,"y":391.94451904296875,"wires":[]},{"id":"cadf751c.b7728","type":"change","z":"732c831c.4f9c8c","name":"prepareServerDataStructures","rules":[{"t":"set","p":"notDone","pt":"msg","to":"data","tot":"msg"},{"t":"set","p":"done","pt":"msg","to":"[]","tot":"jsonata"},{"t":"set","p":"type","pt":"msg","to":"type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":53.333335876464844,"wires":[["a2f24a53.be6298"]]},{"id":"f20412bb.f99e7","type":"switch","z":"d4d8260.4b924d8","name":"saveServerPeripheralDataPerformed","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"saveServerPeripheralData","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1265.5556640625,"y":198.888916015625,"wires":[["dd7f517c.252588"],["646afcc7.fdad54"]]},{"id":"798aaeb.615585","type":"link out","z":"d4d8260.4b924d8","name":"peripheralDone","links":["4ba293ab.2a1b7c"],"x":1515.5555419921875,"y":307.7777557373047,"wires":[]},{"id":"dd7f517c.252588","type":"function","z":"d4d8260.4b924d8","name":"deleteOldData","func":"const arrayLength = msg.stagedPeripheral.data.length;\nmsg.stagedPeripheral.data = msg.stagedPeripheral.data.splice(msg.countToDelete, arrayLength - msg.countToDelete);\nreturn msg;","outputs":1,"noerr":0,"x":1449.9998779296875,"y":126.6666259765625,"wires":[["798aaeb.615585"]]},{"id":"659109d5.a89ad","type":"switch","z":"d4d8260.4b924d8","name":"isDataToSave","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":626.2222290039062,"y":127.33332824707031,"wires":[["dd7f517c.252588"],["6ed3d189.9ad0e8"]]},{"id":"eee06295.3c6768","type":"link out","z":"c9d05436.9e2d3","name":"givePeripheralCommandResponse","links":[],"x":1110.5,"y":427.5,"wires":[]},{"id":"99708de7.cf9e68","type":"link in","z":"732c831c.4f9c8c","name":"givePeripheralCommandResponse","links":["eee06295.3c6768"],"x":837.5,"y":402.5,"wires":[["f2d0aadc.2ae9"]]},{"id":"2e03e628.37b822","type":"change","z":"732c831c.4f9c8c","name":"createIllegalMessageResponse","rules":[{"t":"set","p":"type","pt":"msg","to":"Error: Illegal message received","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":998.75,"y":580,"wires":[["77e41550.ef0134","ef79382a.6ca218"]]},{"id":"f2d0aadc.2ae9","type":"change","z":"732c831c.4f9c8c","name":"createCommandResponse","rules":[{"t":"set","p":"type","pt":"msg","to":"serverPeripheralCommandReceived","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1053.75,"y":415,"wires":[["77e41550.ef0134","ef79382a.6ca218"]]},{"id":"f0ad8b11.68c6d","type":"function","z":"d4d8260.4b924d8","name":"doesPeripheralExist","func":"const getClientPeripheral = global.get(\"getClientPeripheral\");\nconst stagedPeripheralName = msg.stagedPeripheral.name;\nconst peripheral = getClientPeripheral(stagedPeripheralName);\n\nif(peripheral) {\n    msg.peripheralName = stagedPeripheralName;\n    msg.data = msg.stagedPeripheral.data;\n    return msg;\n}\nelse {\n    return msg;   \n}","outputs":"2","noerr":0,"x":241.11111450195312,"y":670,"wires":[["5fd5064d.73349"],["bbc6161d.f57178"]]},{"id":"573661bd.08d5a","type":"link in","z":"d4d8260.4b924d8","name":"createClientPeripheralTableDB","links":["1aa1dd49.ccfeeb"],"x":412.33331298828125,"y":591.8888549804688,"wires":[["cd8cc702.0d2ca"]]},{"id":"5ff58b0.f732c74","type":"link in","z":"41132096.9f4568","name":"createClientPeripheralsRegistry","links":["283b14ed.304ea4","461cde95.f6509"],"x":145.28573608398438,"y":722.5714111328125,"wires":[["d508e556.9e93a"]]},{"id":"1aa1dd49.ccfeeb","type":"link out","z":"41132096.9f4568","name":"createClientPeripheralTable","links":["573661bd.08d5a"],"x":1157,"y":728,"wires":[]},{"id":"d508e556.9e93a","type":"function","z":"41132096.9f4568","name":"registerAccelerationSensor","func":"let addClientPeripheral = global.get(\"addClientPeripheral\");\n\naddClientPeripheral({\n    name: \"Acceleration Sensor\"\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":631.571533203125,"y":725.0000610351562,"wires":[["1aa1dd49.ccfeeb"]]},{"id":"bbc6161d.f57178","type":"link out","z":"d4d8260.4b924d8","name":"ClientPeripheralDone","links":["4ba293ab.2a1b7c"],"x":403.46063232421875,"y":706.666748046875,"wires":[]},{"id":"a8e9536c.9e22f8","type":"debug","z":"732c831c.4f9c8c","name":"INPUT","active":false,"console":"false","complete":"true","x":329,"y":268,"wires":[]},{"id":"ef79382a.6ca218","type":"debug","z":"732c831c.4f9c8c","name":"OUTPUT","active":false,"console":"false","complete":"true","x":1381,"y":537,"wires":[]}]